body {
    display: flex;
    justify-content: center;
}

.slider__content {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.button__add {
   margin-bottom: 1rem;
}

.slider {
   max-width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    
}

.slider__element {
    display: none;
}

.slider__element--active {
    display: block;
}

.slider__text {
    margin: auto;
    color: #ffffff;
    font-size: 60px;
}

.buttons {
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.pagination {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagination__element {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}